.alphabets{
    text-align: center;
}
.card-style{
    /* border-radius:2%; */
    }
.card-style:hover{
    border:1px solid black;
    }

@media (min-width: 576px) { 
    .media-col{
        width: 2rem;
    }
}