@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.heading{
    font-family:'Hachi Maru Pop', cursive;
    font-size: 'x-large';
    font-weight: 600;
}

/* .Navbar{
     background-color: rgb(255, 255, 255); 
} */

.nav-item{
    color:rgb(75, 75, 75);
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dropdown:hover.dropdown-menu {
    display: block;
  }