.App {
  /* text-align: center; */
  font-family:'Hachi Maru Pop', cursive;
   overflow-x: hidden;
   color:rgba(218, 25, 105, 0.959);
}

/* .App {
    text-align: center;
    font-family: 'Karla', sans-serif;
     overflow-x: hidden;
     color:rgba(218, 25, 105, 0.959);
  } */
  
